* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#800080,#dda0dd);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 20px
}

.container {
    background: white;
    border-radius: 20px;
    padding: 40px;
    max-width: 450px;
    text-align: center;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1);
}

.highlight {
    color: #f56565;
}

.icon {
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
    display: block;
}

.title {
    font-size: 32px;
    margin-bottom: 10px;
    color: #2d3748;
    font-weight: bold;
}

.subtitle{
    color: #2d3748;
    font-size: 18px;
    margin-bottom: 20px;
}


.price { 
    font-size: 40px;
    font-weight: bold;
} 

.description {
    font-size: 16px;
    color: #2d3748;
    margin-bottom: 20px;
}

.start-link {
    display: inline-block;
    background-color: #f56565;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 600;
    margin-bottom: 30px;
    transition: background-color 0.3s ease;
}

.start-link:hover {
    background-color: #e53e3e;
}

.learn-section {
    margin: 30px 0px;
    text-align: left;
}

.learn-section h3 {
    font-size: 20px;
    color: #2d3748;
    margin-bottom: 15px;
    text-align: center;
}

.feature-list {
    list-style: none;
    padding: 0px;
}

.feature-list li {
    padding: 10px 0;
    padding-right: 30px;
    position: relative;
    color: #4a5568;
    font-size: 16px;
}

.feature-list li::before {
    content: "✓";
    position: absolute;
    right: 0;
    color: #f56565;
    font-weight: bold;
    font-size: 18px;
}

.feature-list li::before {
    content: "✓";
    position: absolute;
    right: 0;
    color: #f56565;
    font-weight: bold;
    font-size: 18px;
}


.course-button {
    background-color: #2d3748;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: 600px;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.course-button:hover {
    background-color: #1a202c;
}




